*{
    margin: 0;
    padding: 0;
  
}
main{
    margin-left: 100px;
    margin-right: 100px;
}
/* header design */
.head{
    height: 80vh;
    width: 100%;
    background-image: url(images/donation13.jpg);
    background-size: cover;
    position: relative;
}
.head_description{
    padding-top: 150px;
    color: bisque;
    text-align: center;
    align-items: center;
    justify-content: center;

}
.head_h1{
    font-size: 70px;
    font-weight: 700;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.head_pera{
    font-size: 18px;
    margin: 20px 0;
}
.primary_btn{
    background-color: red;
    color: antiquewhite;
    border: 0;
    height: 30px;
    
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
}
/* header end */

/* main section donate today part */
.donate_title{
    text-align: center;
    margin-top: 100px;
}
.donate_title h2{
    font-size: 50px;
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}
.donate_title p{
    font-size: 16px;
    color: rgb(56, 54, 54);
}
.doante_renge{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 50px;
}
.donated_taka{
    text-align: center;
}
.amount{
    height: 20px;
    width: 50px;
    background-color: rgba(232, 232, 238, 0.89);
    padding: 40px 10px;
    color: darkolivegreen;
    font-weight: bold;
}
.donate_taka_pera{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
    color: rgb(220, 220, 220);
}
.hr_resize{
    
    justify-content: center;
    text-align: center;
    height: 2px;
}
.donate_now{
    
    margin-top: 20px;
    
}
/* donate plan design */
.donate_description{
    text-align: center;
    margin-top: 100px;
}
.donate_description h2{
    font-size: 50px;
    margin-bottom: 10px;

}
.donate_description p{
    font-size: 16px;
    color: slategrey;
}
.plan{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.plan_box1{
    height: 150px;
    width: 20%;
    background-color: burlywood;
    padding: 30px 20px;
}
.plan_box2{
    height: 150px;
    width: 20%;
    background-color: rgb(150, 97, 137);
    padding: 30px 20px;
}
.plan_box3{
    height: 150px;
    width: 20%;
    background-color: rgb(83, 134, 192);
    padding: 30px 20px;
}
.plan h5{
    font-size: 20px;
    margin: 5px 0;
}
/* end donate plan */

/* start your donation */
.your_donation_container{
    display: flex;
    gap: 50px;
    height: 200px;
    
    margin-top: 150px;
    margin-right: 100px;
     margin-left: 100px;
    
}
img{
    max-width: 100%;
    max-height: 100%;
}
.your_donation_image{
   
    height: 450px;
    width: 400px;

}
.your_donation_description{
     
     justify-content: space-around;
     margin-top: 50px;
     text-align: left;
     font-size: 30px;
     /* margin-right: 100px;
     margin-left: 100px; */
     margin-bottom: 5px;
     
}
.contribute{
    justify-content: center;
    margin-top: 10px;
    text-align: center;
}
.your_donation_pera{
    text-align: left;
    margin: 10px 0;
    color: darkgrey;
    font-size: 16px;
   
}
.your_need_image{
    height:500px;
    width: 500px;
    }
    /* last section start */
.last_section_description{
    text-align: center;
    margin-top: 200px;
    margin-bottom: 50px;
    }
.last_section_description h1{
    font-size: 40px;
    margin-bottom: 10px;
}
.last_section_description p{
    font-size: 18px;
    color: dimgrey;
}
.very_last_part{
    height: 100px;
    width: 650px;
    background-color: rgb(250, 248, 128);
    justify-content: center;
    text-align: center;
    margin-left: 250px;
}
.form_handle{
    padding: 45px;
}
.form_handle input{
    height: 30px;
    width: auto;
    border: 0;
    color: rgb(65, 63, 63);
}
.foot{
    margin-top: 100px;
    height: 25vh;
    width: 100%;
    background-color: black;
    text-align: center;
}
.foot h1{
    color: red;
    font-family: serif;
    
}
.foot p{
    color: antiquewhite;
    font-size: 20px;
    margin-top: 10px;
}
.last_div{
    padding-top: 40px;
}